/* 
@tailwind base;
@tailwind components;
@tailwind utilities;
 */

body {
  color: #fcfcfc;
  background-color: #1c1c1c;
  margin: 0;
}

.gradient {
  background: #6a11cb;
  background: linear-gradient(45deg, rgba(107, 16, 203, 0.5), #3b43d3);
}
